.l__footer{
  background: linear-gradient(0deg, #F3FAFE, #F3FAFE);
  font-family: GT Walsheim Pro;
  font-size: 14px;
  line-height: 204.3%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #3A4E5B;
  padding: 30px 0;

}